<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>员工登录</h1>

    <form method="POST">
        {% csrf_token %}
        <p>用户名： <input type="text" name="username" /></p>
        <p>密码： <input type="text" name="password" /></p>
        <p><input type="submit" value="提交" /></p>
    </form>
    <div style="color: #d4d4d4">
    <h3>示例账户：</h3>
    <p>用户名：oldboy；密码：123；CEO有全部权限</p>
    <p>用户名：xiaojie；密码：123；CEO有全部权限</p>
</div>
</body>
</html>