{% extends 'arya/layout.html' %}
{% load static %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">问卷调查</a></li>
        <li class="active">统计问卷</li>

    </ol>
{% endblock %}


{% block content %}
    <ul>
        {% for item in survery_record %}
            <li>【{{ item.student_name.username }}】 问题：{{ item.survery_item.name }}
                <ul>
                    {% if item.survery_item.answer_type == 1 %}
                        <li>打分：{{ item.score }}</li>
                    {% elif item.survery_item.answer_type == 2 %}
                        <li>选择：{{ item.single.content }}；分值：{{ item.single.points }}</li>
                    {% else %}
                        <li>建议：{{ item.suggestion }}</li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}

    </ul>


{% endblock %}