.head-band{top: 0;left: 0;z-index: 1000;width: 100%;position: fixed;}
.head-band, .head-content{height: 44px;background-color: #2459a2}
*{margin: 0;padding: 0;}
div{display: block;}
.head-content{width: 1016px;margin: 0 auto;line-height: 44px;position: relative;}
.digg-logo{width: 121px;height: 23px;background: url("/static/images/logo.png") no-repeat 0 0;
    float: left;margin-top: 11px}
a{text-decoration: none}
a,body, button,form,hr,
input,li,p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.active-menu{float: left;margin-left: 20px;}
.action-menu a.active, .action-menu a.active:hover {display: inline-block;background-color: #204982;color: white;}
.action-menu a.tb {
    background-color: #c0cddf;
    margin-left: -3px;
    padding: 0 13px 0 16px;
    display: inline-block;}

.input-group{
    top: 0;left: 0;z-index: 1000;width: 100%;position: fixed;
}

.search-txt-s {
    float: right;
    padding: 2px 2px 2px 5px;
    height: 25px;
    width: 91px;}
.tb1{
    margin-left: 500px;
}
