<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/add_user.html">添加</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>密码</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in user_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.username }}</td>
                    <td>{{ row.password }}</td>
                    <td><a href="/edit_user_{{ row.id }}.html">编辑</a> <a href="/del_user_{{ row.id }}.html">删除</a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>