<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dragon 客户端 5.0</title>
    <link rel="icon" href="/static/img/mogujie.ico">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/title.css">
    <link rel="stylesheet" href="/static/bootstrap/css/index.css">
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/myjs.js"></script>
    <script src="/static/bootstrap/js/jquery.cookie.js"></script>

</head>

<body style="background-color: white">

<div class="header" style="z-index: 99;position: fixed;width: 100%">
	<ul class="menu" style="background-color: black">
		<li><a href="#">运维平台</a></li>
		<li class="active" style="float: right"><a href="#s2"></a>
			<ul class="submenu">
				<li><a href="#">个人信息</a></li>
				<li><a href="/logout.html">退出</a></li>
			</ul>
		</li>
		<li style="float: right"><a href="#">帮助与支持</a>
			<ul class="submenu">

				<li><a href="#">技术博客</a></li>

			</ul>
		</li>
		<li style="float: right"><a href="#">工单信息</a>
            <ul class="submenu">

				<li><a href="#">个人账号申请</a></li>
			</ul>
        </li>

	</ul>
</div>

<div class="nav-main" style="margin-top: 58px;width: 160px">
<div class="nav-box" >
<div class="nav" >
  <ul class="nav-ul" >
  	<li><a href="#" class="home" style="width: 160px"><span style="margin-top: 40px;">主机管理</span></a></li>
  	<li><a href="#" class="develop"  style="width: 160px"><span style="margin-top: 40px;">云服务</span></a></li>
  	<li><a href="#" class="wechat"  style="width: 160px"><span style="margin-top: 40px;">Wonder监控</span></a></li>



  </ul>
</div>
<div class="nav-slide" style="width: 150px">
    <div class="nav-slide-o" >
            <li><a href="#"><span>主机列表</span></a></li>
    		<li><a href="#"><span>添加主机</span></a></li>
            <li><a href="#"><span>添加业务线</span></a></li>

    </div>
    <div class="nav-slide-o">
    	<ul>
    		<li><a href="#"><span>添加主机</span></a></li>
    		<li><a href="#"><span>删除主机</span></a></li>
    	</ul>
    </div>
    <div class="nav-slide-o">
    	<ul>
    		<li><a href="#"><span>添加监控</span></a></li>
    		<li><a href="#"><span>删除监控</span></a></li>
    	</ul>
    </div>
    <div class="nav-slide-o">
    	<ul>
    		<li><a href="#"><span>添加监控</span></a></li>
    	</ul>
    </div>
    <div class="nav-slide-o">
    	<ul>
    		<li><a href="#"><span>添加监控</span></a></li>

    	</ul>
    </div>
</div>
</div>
</div>

<div class="content_msg" style="position: absolute;top: 58px;right: 0;left:50px;bottom: 0;overflow: scroll">
<div class="container">
    <div class="row" >
        <div class="col-md-4 col-md-offset-1" style="padding-left: 8px;">
         <ol class="breadcrumb" style="background-color: white">
          <li><a href="#">Home</a></li>
          <li><a href="/index.html">Library</a></li>
          <li class="active">Table</li>
         </ol>
        </div>
    </div>
</div>
</div>
</body>
</html>
