<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" novalidate>
        {% csrf_token %}
        <p> 用户名：{{ form.name }} {{ form.errors.name.0 }} </p>
        <p> 邮箱：{{ form.email }} {{ form.errors.email.0 }}</p>
        <p> 手机：{{ form.phone }} {{ form.errors.phone.0 }}</p>
        <p> 部门：{{ form.dp_id }} {{ form.errors.dp_id.0 }}</p>
        <input type="submit" value="提交" />
    </form>
</body>
</html>