<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>上传图片</h1>
    <input id="fafafa" type="file" name="fafafa" />
    <input type="button" value="点我点我" onclick="uploadImg()" />
    <input type="text" id="avatar" name="avatar" />
    <div id="container"></div>

    <script src="/static/jquery-3.2.1.js"></script>
    <script>
        function uploadImg() {
            // 获取文件
            // 上传文件
            // 预览
            var formData = new FormData();
            formData.append('a1',$('#fafafa')[0].files[0]);
            console.log(formData);
            $.ajax({
                url: '/upload_img/',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success:function (arg) {
                    arg = JSON.parse(arg);
                    if (arg.status){
                        var tag = document.createElement('img');
                        tag.src = "/" + arg.path;
                        $('#container').empty();
                        $('#container').append(tag);
                        $('#avatar').val(arg.path);

                    }
                }
            })
        }
    </script>
</body>
</html>