{% extends "base.html" %}

{% block title %}主机列表{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/static/bootstrap/css/index.css">
<h2 style="color: blue">主机列表</h2>
<table border="1" align="center" valign="center">
    <thead>
        <tr style="border: 1px;">
            <th><b>ID</b></th>
            <th><b>name</b></th>
            <th><b>email</b></th>
            <th><b>操作</b></th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
                <td><b>{{ user.id }}</b></td>
                <td><b>{{ user.username }}</b></td>
                <td><b>{{ user.email}}</b></td>
                <td>
                    <a href="#">编辑</a>
                    <a href="#">删除</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination1">
    {{ page_str |safe }}
</div>

{% endblock %}