<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="f1" action="/icbc.html" method="POST">
        {% csrf_token %}
        <input type='text' name='from'  />
        <input type='text' name='to' />
        <input type='text'  name='money' />
        <input type='submit' value='转账' />
        <a onclick="ajaxSubmit();">Ajax提交</a>
    </form>

    <script src="/static/jquery-3.2.1.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <script>
        function ajaxSubmit() {
            $.ajax({
                url: "/icbc.html",
                type: 'POST',
                data: {'k1':'v1','k2':'v2'},
                headers: {"X-CSRFToken": $.cookie('csrftoken')},
                success:function (arg) {
                    console.log(arg)
                }
            })
        }

    </script>

</body>
</html>