{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My_bbs</title>


</head>

<body>
    <h1>分类列表</h1>
    <ul>
        {% if current_new_type_id %}
            <li><a href="/">全部</a></li>
        {% else %}
            <li><a style="color:green" href="/">全部</a></li>
        {% endif %}

        {% for row in new_type_list %}
            {% if row.id == current_new_type_id %}
                <li><a style="color:green" href="/all/{{ row.id }}/">{{ row.caption }}</a></li>
            {% else %}
                <li><a href="/all/{{ row.id }}/">{{ row.caption }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>新闻列表</h2>
    <div>
        {% for row in new_list %}
            <div>
                <div>{{ row.title }}</div>
                <div>{{ row.user.username }}  评论：{{ row.comment_count }}  赞：<a class="new-like" new-id="{{ row.id }}">{{ row.like_count }}</a></div>
            </div>
            <div>
                <div>{{ row.title }}</div>
                <div>{{ row.user.username }}  评论：{{ row.comment_count }}  赞：<a class="new-like" new-id="{{ row.id }}">{{ row.like_count }}</a></div>
            </div>
            <div>
                <div>{{ row.title }}</div>
                <div>{{ row.user.username }}  评论：{{ row.comment_count }}  赞：<a class="new-like" new-id="{{ row.id }}">{{ row.like_count }}</a></div>
            </div>
        {% endfor %}
    </div>

    <script src="/static/js/jquery.js"></script>

    <script>
        $(function () {
            bindLikeEvent();
        });

        function bindLikeEvent() {
            $('.new-like').click(function () {
                // 获取当前新闻ID
                var newId = $(this).attr('new-id');
                $.ajax({
                    url: '/do_like.html',
                    type: "POST",
                    data: {'newId': newId},
                    dataType: 'JSON',
                    success:function (arg) {
                        if(arg.status){
                            console.log('成功',arg.code);
                        }else{
                            alert(arg.msg);
                        }
                    }

                })
            })
        }

    </script>
</body>
</html>