{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My_bbs</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>

<div class="head-band">
    <div class="head-content">
        <a href="/" class="digg-logo"></a>
        <input type="hidden" id="newIntoHotCount" value="25">
        <input value="1" type="hidden" class="isBan">
        <div class="active-menu">
            <a href="#" class="tb active">全部</a>
            <a href="#" class="tb">42区</a>
            <a href="#" class="tb">段子</a>
            <a href="#" class="tb">图片</a>
            <a href="#" class="tb">挨踢</a>
            <a href="#" class="tb">你问我答</a>
            <a href="/logout.html" class="tb tb1">注销</a>
        </div>


    </div>

</div>




</body>
</html>