<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul{
            list-style: none;
            display: block;
        }
        ul li{
            display: inline-block;
            padding: 0 10px;
        }
    </style>
</head>
<body>
<div>
    <ol>
        <li>本班学生才能进行评价</li>
        <li>学生只能对同一个问卷进行一次调查</li>
    </ol>
</div>
<form method="POST" novalidate>
    {% csrf_token %}
    {% for row in form %}
        <div >
            <h4>{{ row.label }}: {{ row.errors.0 }}</h4>
            <div class="clearfix">
                {{ row }}
            </div>
        </div>
    {% endfor %}

    <input type="submit" value="提交" />
</form>
</body>
</html>