{% extends "src.html"  %}
{% block user %}{{ user }}{% endblock %}
{% block action %}Add{% endblock %}
{% block content %}
    <form class="form-horizontal"  style="padding: 50px 150px">
        {% csrf_token %}
      <div class="form-group">
        <label for="hostname" class="col-md-2 control-label">主机名:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="hostname" placeholder="Name" name="title_name" >
        </div>
      </div>
      <div class="form-group">
        <label for="ip" class="col-md-2 control-label">IP:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="ip" placeholder="IP" name="price_num" >
        </div>
      </div>
          <div class="form-group">
        <label for="port" class="col-md-2 control-label">端口:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="port" placeholder="Port" name="price_num">
        </div>
      </div>
      <div class="form-group">
        <label for="publish" class="col-md-2 control-label">业务线:</label>
        <div class="col-md-4">
            <select name="service" class="form-control" size="1" id="service" >
                {% for info in service_list %}
                <option value={{ info.id }}>{{ info.name }}</option>
                 {% endfor %}
            </select>
        </div>
      </div>
    </form>

    <div class="form-group" style="margin-top: -50px">
        <div class="col-md-offset-3 col-md-6">
            <button id="mybtn" class="btn btn-success" style="width: 100px">提交</button>
            <a href="/index.html" class="btn btn-danger" style="margin-left: 50px;vertical-align: -2px">返回主页</a>
        </div>
    </div>


<script>


        //绑定ajax事件
        $flag = true;
        $my_tag = true;
    $('#hostname').blur(function () {
        $(this).siblings().remove();
        var host_name = $(this).val();
        $.ajax({
            url: "/show/check_host",
            type: "POST",
            data: {"hostname": $('#hostname').val()},
            dataType: "JSON",
            headers: {"X-CSRFToken": $.cookie('csrftoken')},
            success: function (data) {
                if(data.status){
                    $('form').find('[role="alert1"]').remove();
                    $('#hostname').after('<div class="alert alert-danger col-md-12 " role="alert1" style="line-height: 3px;margin-top: 5px">' + host_name +'已经存在!'+ '</div>');
                    $my_tag = false;
                    $flag = false
                }else{
                    $('#hostname').next().remove();
                    $my_tag = true;
                    $flag = true;
                }
            }
        });
    });

    //点击事件绑定通过ajax进行提交,然后清理空输入内容
    $('#mybtn').click(function () {
        if ($my_tag){
            $flag = true
        }
        $('.form-group').removeClass('has-error');
        $('form').find('[role="alert"]').remove();
        $('form').find('[role="alert1"]').remove();
        if ($flag) {
            $.ajax({
                url: '/show/add',
                type: 'POST',
                data: {
                    "hostname": $('#hostname').val(),
                    "ip": $('#ip').val(),
                    "port": $('#port').val(),
                    "service_line_id": $('#service').val()
                },
                dataType: "JSON",
                headers: {"X-CSRFToken": $.cookie('csrftoken')},
                success: function (data) {
                    if (data.status) {
                        alert('添加成功');
                        $('#hostname').val('');
                        $('#ip').val('');
                        $('#port').val('');
                    } else {
                        console.log(data);
                        $.each(data.error,function (k,v) {
                            var $error_msg =  '<div class="alert alert-danger col-md-12 " role="alert1" style="line-height: 3px;margin-top: 5px">' + v[0] + '</div>';
                            $('#' + k).after($error_msg)

                        })
                    }

                }
            })
        }
    })

</script>
{% endblock %}
